<!DOCTYPE html>
<html>
    <head>
        <title>Medical Center</title>
        <style>
            form {
                display: flex;
                flex-direction: column;
                width: 25%;
            }
            .error {color: red;}
            .form-row {display: flex; flex-direction: column;}
        </style>
    </head>
    <body>
        <h1>Medical Center</h1>
        <h2>New patient</h2>
        {{form_data}}


        <form method="post" action="/new_patient">
            <div class="form-row">
                <input type="text" name="first_name" placeholder="First name" />
                <small class="error">Invalid name</small>
            </div>

            <div class="form-row">
                <input type="text" name="last_name" placeholder="Last name" />
                <small class="error">Invalid last name</small>
            </div>

            <input type="text" name="gender" placeholder="Gender" />
            <input type="text" name="dob" placeholder="DOB" />
            <div>
            <input type="checkbox" name="insurance" />
            <label>Insurance</label>
            </div>
            <input type="submit" value="Add Patient" />
        </form>

        <h2>New Doctor</h2>
        <form method="post" action="/new_doctor">
            <input type="text" name="first_doctor_name" placeholder="First name" />
            <input type="text" name="last_doctor_name" placeholder="Last name" />
            <input type="submit" value="Add Doctor" />
        </form>


    </body>
</html>