<!DOCTYPE html>
<html>
    <head>
        <title>Medical Center</title>
        <style>
            form {
                display: flex;
                flex-direction: column;
                width: 25%;
            }
            .error {color: red;
                    visibility: visible;}
            .form-row {display: flex; flex-direction: column;}
        </style>
    </head>
    <body>
        <h1>Medical Center</h1>
        <h2>New patient</h2>
        {{form_data}}
        {{form_errors}}


        <form method="post" action="">
            <div class="form-row">
                <small class="error">{{form_errors['first_name'] if form_errors}}</small>
                <input type="text" name="first_name" placeholder="First name" />
            </div>

            <div class="form-row">
                <small class="error">{{form_errors['last_name'] if form_errors}}</small>
                <input type="text" name="last_name" placeholder="Last name" />
                
            </div>

            <div class="form-row">
                <small class="error">{{form_errors['gender'] if form_errors}}</small>
                <input type="text" name="gender" placeholder="Gender" />
            </div>

            <div class="form-row">
                <small class="error">{{form_errors['dob'] if form_errors}}</small>
                <input type="text" name="dob" placeholder="DOB" />
            </div>

            <div class="form-row">
                <small class="error">{{form_errors['phone'] if form_errors}}</small>
                <input type="text" name="phone" placeholder="Phone" />
            </div>
            <div class="form-row">
                <small class="error">{{form_errors['email'] if form_errors}}</small>
                <input type="text" name="email" placeholder="E-mail" />
            </div>

            <div>
                <small class="error">{{form_errors['insurance'] if form_errors}}</small>
                <input type="checkbox" name="insurance" />
                <label>Insurance</label>
            </div>
            <input type="submit" value="Add Patient" />
        </form>




    </body>
</html>